* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 1;
}

body {
    background-color: #4b7cd6e3;
    display: block;
}

a {
    text-decoration: none;
    color: rgb(29, 175, 151);
}

.selector-for-some-widget {
    box-sizing: content-box;
}

.mg-r-12 {
    margin-right: 12px;
}
.mr-1{
    margin-right: 10px;
}
.mr-2{
    margin-right: 20px;
}
.ml-auto {
    margin-left: auto;
}

.overflow-hidden {
    overflow: hidden;
}

.center {
    text-align: center;
}

.icon-email {
    display: inline;
    margin: auto;
    height: 100%;
}

.input-group-addon {
    padding: 10px;
    background-color: #0a58ca;
    border-radius: 3px 0 0 3px;
    color: #fff;
}
.title-label {
    font-weight: 600;
    font-size: 14px;
}
.form-check-input{
    margin-top: 0;
}

.small-text{
    font-size: 13px;
}
img {
    max-width: 100%;
}
/* logo login */
.title-logo{
    font-size: 30px;
    color: #0805ac;
    text-transform: uppercase;
    font-weight: 700;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.logo-login{
    font-size: 45px;
}
.logo-menu{
    font-size: 25px;
}

/* RESPONSIVE */
@media only screen and (max-width: 400px){
    .logo-login{
        font-size: 30px;
    }
    .logo-menu{
        font-size: 16px;
    }
}