body {
    background-color: #f8f8f8;
}


/* Menu fixed left */

.main-menu-content {
    position: fixed;
    width: 240px;
    background: #fff;
    top: 0;
    left: 0;
    bottom: 0;
}

.menu-shadow {
    -webkit-box-shadow: 0 0 15px 0 rgb(34 41 47 / 5%);
    box-shadow: 0 0 15px 0 rgb(34 41 47 / 5%);
}

.main-menu.menu-fixed {
    width: 240px;
}

.navbar-header.logo-header a {
    padding: 5px;
    display: block;
}

.navbar-header.logo-header {
    padding: 10px;
}

.navbar-header.logo-header a img {
    display: inline-block;
}

ul.navbar-nav li.nav-item {
    position: relative;
    white-space: nowrap;
    list-style: none;
    margin-top: 5px;
}

ul.navbar-nav>li.nav-item>a {
    padding: 10px 15px 10px 15px;
    margin: 0 15px;
}

li.navigation-header.text-truncate {
    margin: 10px 0 10px 30px;
}

ul.menu-content {
    margin: 0;
    padding: 0;
}

ul.menu-content li.nav-item {
    list-style: none;
    margin: 10px 15px 0;
}

ul.menu-content li.nav-item a {
    padding: 10px 15px 10px 15px;
}

ul.navbar-nav li.nav-item a:hover {
    padding-left: 25px;
}

ul.navbar-nav li.nav-item a {
    transition: 0.5s all;
    color: #565360;
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: 1.3;
}

ul.navbar-nav li.nav-item i {
    margin-right: 10px;
    font-size: 17px;
}

ul.navbar-nav li.nav-item li.nav-item i {
    font-size: 10px;
}

ul.navbar-nav li.nav-item a.opensub {
    background: #f5f5f5;
    border-radius: 6px;
}

ul.menu-content li.active.nav-item {
    background: linear-gradient( 118deg, #7367f0, rgba(115, 103, 240, .7));
    -webkit-box-shadow: 0 0 10px 1px rgb(115 103 240 / 70%);
    box-shadow: 0 0 10px 1px rgb(115 103 240 / 70%);
    border-radius: 4px;
}

ul.menu-content li.active.nav-item>a {
    color: #fff;
}


/* Nav header */

.nav-header.nav-header-fixed {
    width: calc(100% - 300px);
    margin: 10px auto 0;
    position: fixed;
    right: 0;
    top: 0;
    background: #fff;
    margin: 15px 30px;
    -webkit-box-shadow: 0 4px 24px 0 rgb(34 41 47 / 10%);
    box-shadow: 0 4px 24px 0 rgb(34 41 47 / 10%);
    border-radius: .428rem;
    z-index: 999;
}

.admin-content {
    width: calc(100% - 300px);
    margin: 90px auto 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.bg-white {
    background-color: #fff;
}

.box-shadow {
    -webkit-box-shadow: 0 4px 24px 0 rgb(34 41 47 / 10%);
    box-shadow: 0 4px 24px 0 rgb(34 41 47 / 10%);
}

.user-nav {
    color: #333;
    font-weight: 600;
    margin-right: 10px;
}

.user-nav .user-name {
    margin-right: 5px;
    font-variant: common-ligatures;
    font-variant: common-ligatures;
}

.user-nav .user-status {
    color: #3568dc;
}

.dropdown-header .notification-title {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    color: #5e5873;
    font-size: 18px;
}

.nav-header .dropdown-notification .dropdown-menu.show {
    display: block;
    min-width: 300px;
    /* right: 0 !important; */
    left: unset !important;
}

.dropdown-header .notification-title {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    color: #5e5873;
    font-size: 18px;
}

li.dropdown-menu-header {
    border-bottom: 1px solid #ebe9f1;
}

li.media-list a {
    padding: .9rem 1.28rem;
    border: none;
    border-bottom: 1px solid #ebe9f1;
    display: block;
}

li.media-list a p.media-heading {
    font-weight: 600;
    color: #6e6b7b;
    line-height: 1.2;
}


/* // body admin */

.admin-content-body {
    border-radius: 10px !important;
    width: 100%;
}
.full-table-list{
    width: 100%;
    overflow: auto;
}
.table-responsive {
    min-width: 1000px;
}

table.table-list {
    
    clear: both;
    margin-top: 6px!important;
    margin-bottom: 6px!important;
    max-width: none!important;
    border-collapse: collapse !important;
    border-spacing: 0;
}

table.table-list tr {
    border-bottom: 1px dashed #ccc !important;
}

table.table-list tr th {
    border: none;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    color: #b5b5c3;
    font-weight: 600;
    text-transform: uppercase;
}

table.table-list tr td {
    border-bottom: none;
    padding-top: 1.25rem;
    line-height: 36px;
    font-weight: 500;
    color: #7e8299;
}

.item-actions .actions-content {
    display: none;
    position: absolute;
    border-radius: .475rem;
    background-color: #fff;
    box-shadow: 0 0 50px 0 rgb(82 63 105 / 10%);
    top: calc(100% + 13px);
    z-index: 888;
    left: 0;
}

.item-actions>a {
    border-color: #f5f8fa;
    background-color: #f5f8fa;
    padding: calc(.55rem + 1px) calc(1.25rem + 1px);
    color: #7e8299;
    line-height: 14px;
    border-radius: .475rem;
    display: inline-block;
}

.item-actions {
    position: relative;
}

.item-actions .actions-content li {
    list-style: none;
    padding: 0 10px;
    margin-bottom: 5px;
}

.item-actions .actions-content ul {
    padding: 0;
    margin: 10px 0;
    min-width: 100px;
}

.item-actions .actions-content li.item-action a {
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 0;
    flex: 0 0 100%;
    padding: 7px 10px;
    transition: none;
    outline: 0 !important;
    line-height: normal;
    transition: color .2s ease, background-color .2s ease;
    color: #7e8299;
}

.item-actions .actions-content li.item-action a:hover {
    background-color: #f1faff;
    color: #009ef7;
}


/* status */

table.table-list span.status {
    display: inline-block;
    padding: 5px 14px;
    background: #1fc701;
    line-height: 20px;
    border-radius: 100px;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
}

table.table-list span.status-active {
    background: #28c76f;
}

table.table-list span.status-inactive {
    background: rgba(130, 134, 139, .12);
    color: #333;
}

table.table-list span.status-pending {
    background: #ff9f43;
}

.filter-search {
    position: relative;
    margin-right: auto;
    max-height: 40px;
    overflow: hidden;
}


/* filter list */

.filter-search .icon-search {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    color: #181c32a6;
}

.filter-search input.form-control {
    padding-left: 40px;
}

.filter-action {
    align-items: center;
}

.filter-action-col {
    margin-left: 20px;
}

.filter-action-col a:not(.btn-add-customer) {
    color: #009ef7;
    border-color: #f1faff;
    background-color: #f1faff;
    font-weight: 500;
    border-radius: 5px;
    padding: calc(.75rem + 1px) calc(1.5rem + 1px);
    display: block;
}

.filter-action-col a i {
    margin-right: 10px;
}


/* footer admin */

.admin-footer {
    margin-top: auto;
    width: 100%;
}

/* RESPONSIVE */
@media only screen and (max-width: 1100px ){
    .main-menu.menu-fixed {
        width: 0;
    }
    .main-menu-content {
        transform: translate3d(-240px, 0, 0);
        transition: 0.5s all;
    }
    
    .main-menu.menu-fixed .navbar-header.logo-header {
        display: none;
    }
    .main-menu.menu-fixed .navbar-light .navbar-toggler {
        display: block;
        position: absolute;
        right: -40px;
        z-index: 10;
        cursor: pointer;
        color: #579d0a;
        top: 73px;
    }
    .main-menu-content.menu-shadow.show-mobile {
        transform: translate3d(0, 0, 0);
        z-index: 999;
    }
    /* nav header */
    .nav-header.nav-header-fixed {
        width: calc(100% - 30px);
        margin: 5px 15px 15px;
    }
    /* Content admin */
    .admin-content {
        width: calc(100% - 30px);
    }
}   

@media only screen and (max-width: 750px){ 
    .filter-search{
        width: 100%;
    }
    .filter-action-col:nth-child(1){
        margin-left: 0;
    }
    .filter-action-row {
        justify-content: space-around;
    }
}
@media only screen and (max-width: 340px){ 
    .filter-action-col,.filter-action-col:nth-child(1){
        margin-left: 10px;
    }
}