.list-approve a.btn {
    font-size: 14px;
}

textarea.form-controler {
    width: 100%;
}

.overview-heading {
    border-bottom: 1px solid #ccc;
}

.item-branch input.form-check-input {
    margin-right: 5px;
    padding: auto;
    margin-top: 0;
    width: 20px;
    height: 20px;
}

.item-branch label {
    width: calc(100% - 30px);
    line-height: 1.3;
}

.info-customer {
    position: sticky;
    top: 80px;
}

.overview-content {
    /* color: #a1a5b7; */
    font-weight: 600;
}

.title-label {
    font-weight: 600;
    font-size: 16px;
}

.admin-content-body .form-control {
    color: #a1a5b7;
}

.avata-customer {
    position: relative;
}


.detail-customer-left {
    width: 35%;
}

.detail-customer-right {
    width: calc(65% - 30px);
}

.item-approve {
    margin-right: 5px;
}

.item-approve input.form-check-input {
    margin-right: 5px;
}
p.text{
    margin: 0;
}
.mr-2{
    margin-right: 20px;
}

/* modal popup */
.modal-body span.item-approve{
    margin: 0;
}

/* RESPONSEIVE */

@media only screen and (max-width: 1000px){
    .detail-customer-left {
        width: 100%;
    }
    
    .detail-customer-right {
        width: 100%;
    }
}
@media only screen and (max-width: 480px){
    .detail-customer-actions .btn {
        min-width: 47%;
        margin-bottom: 11px;
    }
}