body {
    background-color: #4b7cd6e3;
    display: block;
}

a {
    text-decoration: none;
    color: rgb(29, 175, 151);
}

.center {
    text-align: center;
}

.logo-login {
    margin: auto auto 30px;
}

.logo-login img {
    margin: 0;
}

.login-row h5 {
    font-size: 1.2em;
}

.small-text {
    font-size: 14px;
}