.item-radio label{
    margin-left: 5px;
}

.avata-row {
    position: relative;
}

.avata-row .edit-avata {
    right: 0;
    position: absolute;
    top: 0;
    cursor: pointer;
}

.avata-row {
    padding: 20px;
}

/* overview ceminar */
.overview-content-seminar {
    width: auto;
    min-width: 60%;
}